<h2>Users Management</h2>
<a ng-show="is_authenticated" ng-click="logout()" class="btn btn-default">Logout</a>
<hr>
<div class="row" ng-hide="users.length == 0">
  <div class="col-md-12">
    <div class="form-inline">
      <div class="form-group">
          <label>Search</label>
          <input type="search" class="form-control" ng-model="user_search" />
          <button class="btn btn-default" ng-click="search()">Search</button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row" ng-hide="users.length == 0">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Specialism</th>
          <th ng-show="is_authenticated">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | orderBy:order_type.value">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.specialism }}</td>
          <td ng-show="is_authenticated">
            <a href="#!/view/{{ user.id }}">View</a>
          </td>
        </tr>
        
      </tbody>
    </table>
    </div>
    <div class="col-md-12">
      <nav aria-label="User Pagination">
          <ul class="pager">
            <li class="btn button previous {{ previousButtonDisable }}">
              <a ng-click="previousPage()"><span aria-hidden="true">&larr;</span> Older</a>
            </li>
            <li class="btn next {{ nextButtonDisable }}">
              <a ng-click="nextPage()">Newer <span aria-hidden="true">&rarr;</span></a>
            </li>
          </ul>
        </nav>
    </div>
</div>