<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2>Existing Member Login</h2>
    <form name="addUserFrm" ng-submit="login()">
      <div class="form-group">
        <label for="student_name">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
      </div>
      <div class="form-group">
        <label for="student_age">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
      </div>
      <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default pull-right">Login</button>
      </div>
    </form>
  </div>
</div>