<h2>Edit Student</h2>
<div class="row">
        <div class="col-md-12">
        <p>Name: {{ user_info.name }}</p>
        <p>Email: {{ user_info.email }}</p>
        <p>Interests: {{ user_info.interests }}</p>
        <p>Region: {{ user_info.region }}</p>
        <p>Specialism: {{ user_info.specialism }}</p>
        <a href="#/" class="btn btn-default">Back</a>
        </div>
</div>